<h1>Memes</h1>

<!-- # <% @posts["result"].each do |array| %>
#   <h3><%= array["displayName"] %></h3>
# <% end %> -->

<table>
  <tr>
    <% @posts["result"].each do |array| %>
      <th><%= array["displayName"] %></th>
    <% end %>
  </tr>
  <% @posts["result"].each do |array| %>
    <td> <img src="<%= array["imageUrl"] %>" alt=""> </td>
  <% end %>
</table>
