<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    
    <!-- our template content will be injected here -->
    <%= yield %>

  </body>
</html>
